@use "../../../../App.scss";
@use "../Inputs/TextField/TextField";
@use "../Inputs/RadioButton/RadioButton";
@use "../Inputs/FileInput/FileInput";



.modal-section {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.795);
  }

  .modal {
    position: relative;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background: App.$primary-color;
    overflow-y: scroll;
  
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
  
      h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: 40px;
  
        @media screen and (min-width: App.$md) {
          font-size: 24px;
          font-weight: 600;
          line-height: 40px;
        }
      }
    }
  
    h2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
    }
  
    .save-button-container {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }

    .textfields-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .radio-groups-container {
      .radio-group-container {
        .radio-group {
          @media screen and (min-width: App.$md) {
            display: flex;
            justify-content: space-between;
          }
        }
        @media screen and (min-width: App.$md) {
          width: 310px;
        }
      }
    
      @media screen and (min-width: App.$md) {
        display: flex;
        justify-content: space-between;
      }
    }
  
    @media screen and (min-width: App.$sm) {
      margin: 50px;
    }
  
    @media screen and (min-width: App.$md) {
      width: 727px;
      height: 596px;
      padding: 35px;
      margin: 100px 0 0 0;
      overflow-y:unset;
    }
  }
}




