@use "../../../../../../App.scss";

.student-information-container {
  display: none;
  order: 2;

  p {
    color: App.$secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: App.$xl) {
      font-size: 16px;
      line-height: 27px;
    }
  }

  span {
    font-weight: 400;
    text-transform: capitalize;
  }
  
  @media screen and (min-width: App.$md) {
    display: block;
  }
}
