@use "../../../../App.scss";
@use "./Menu/Menu";
@use "./Nav/Nav";

.navbar {
  width: 281px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: App.$md) {
    flex-direction: column-reverse;
  }
}
