.radio-container {
  .radio {
    width: 16px;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #979797;
    border: 3px solid #fff;
    transition: all ease-in-out .2s;
    margin-right: 14px;

    &:checked {
      background: #0e4da4;
      box-shadow: 0 0 0 2px #0e4da4;
    }
  }
}
