@use "../../../../../App.scss";

//Information container styles
.information-container {
  flex-grow: 1;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  //Student name styles
  .student-name-text {
    color: App.$primary-text-color;
    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    order: 1;

    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: App.$sm) {
      font-size: 25px;
    }

    @media screen and (min-width: App.$lg) {
      display: block;
      text-align: start;
      font-size: 30px;
      order: 2;
    }

    @media screen and (min-width: App.$xl) {
      font-size: 40px;
      line-height: 86px;
    }
  }

  @media screen and (min-width: App.$sm) {
    justify-content: space-between;
  }

  @media screen and (min-width: App.$lg) {
    padding: 15px 20px;
  }
}
